<form id="contact-form" action="{% url 'email' %}" method="post">
                                {% csrf_token %}
                                {{ form.non_field_errors }}
                <fieldset>
                  <label>{{ form.subject.errors }}
                    <input name="subject" type="text" value="Имя" onBlur="if(this.value=='') this.value='Имя'" onFocus="if(this.value =='Имя' ) this.value=''" />
                  </label>
                  <label>{{ form.sender.errors }}
                    <input name="sender" type="text" value="E-mail" onBlur="if(this.value=='') this.value='E-mail'" onFocus="if(this.value =='E-mail' ) this.value=''" />
                  </label>
                  <label>{{ form.phone.errors }}
                    <input name="phone" type="text" value="phone" onBlur="if(this.value=='') this.value='phone'" onFocus="if(this.value =='phone' ) this.value=''" />
                  </label>
                                    {{ form.message.errors }}
                  <textarea name="message" onBlur="if(this.value=='') this.value='Сообщение'" onFocus="if(this.value =='Сообщение' ) this.value=''">Сообщение</textarea>
                  {{ form.copy.errors }}
                                    <label for="id_copy">{{ form.copy }} Отправить копию себе </label>
                                    <div class="buttons-wrapper">
                    <a class="button" onClick="document.getElementById('contact-form').reset()">Очистить</a>
                      <a class="button" onClick="document.getElementById('contact-form').submit(type)">Отправить</a>
                  </div>
                </fieldset>
              </form>
