
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal1">
  Мы перезвоним Вам.
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel1">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="overflow: hidden">
        <form id="contact-form" action="{% url 'feedbackcall' %}" method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <fieldset>
        <label>{{ form.subject.errors }}
            <input name="subject" type="text" value="Имя" onBlur="if(this.value=='') this.value='Имя'" onFocus="if(this.value =='Имя' ) this.value=''" />
        </label>
        <label>{{ form.phone.errors }}
            <input name="phone" type="tel" pattern="[0-9]{11}" value="phone" onBlur="if(this.value=='') this.value='phone'" onFocus="if(this.value =='phone' ) this.value=''" />
        </label>
        {{ form.message.errors }}
        <textarea name="message" onBlur="if(this.value=='') this.value='Сообщение'" onFocus="if(this.value =='Сообщение' ) this.value=''">Сообщение</textarea>
        {{ form.copy.errors }}
        <div class="buttons-wrapper">
            <input type="button" onclick="document.getElementById('contact-form-call').reset()" value="Очистить">
            <input type="submit" class="btn btn-success" value="Отправить сообщение"/>
        </div>
    </fieldset>
</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


